@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}

header {
    background-color: rgb(228, 228, 228);
    padding: 5px 30px;
    border-bottom: 2px solid rgb(128, 128, 128);
}

.playlist-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}

.playlist-card-container {
    border: 2px solid rgb(128, 128, 128);
    width: 200px;
}

.playlist-card-information {
    padding: 0px 0px 5px 10px;
}

.modal-overlay {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.modal-header {
    display: flex;
    gap: 15px;
}

.modal-header img {
    width: 150px;
}

.modal-header-title h2 {
    font-size: 2rem;
}

.modal-header-title h3 {
    font-size: 1.2rem;
}

.modal-songs-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.modal-song {
    display: flex;
    gap: 30px;
    margin: 0px;
    align-items: center;
    border: 2px solid rgb(128, 128, 128);
    padding: 10px;
}

.modal-song-content {
    width: 100%;
}

.modal-song p {
    margin: 0;
}

.modal-song h4 {
    margin: 0;
}

.modal-song img {
    width: 100px;
    height: 100px;
}

.album-runtime {
    text-align: end;
    width: 100%;
}