@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@keyframes appear {
    0% {transform:scale(0.8, 0.8);}
    50% {transform: scale(1.2, 1.2);}
    100% {transform: scale(1, 1);}
}

:root {
    --classicgray: rgb(228, 228, 228);
    --ourwhite: #f8f8f8;
    --darkgray: rgb(36, 36, 36);
}

html {
    height: 100vh;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--classicgray);
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    padding: 10px 70px;
    border-bottom: 2px solid rgb(128, 128, 128);
    background-color: var(--classicgray);
    display: flex;
}

#links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
    position: relative;
}

#links a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

#links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

#links a:hover::after {
    width: 100%;
}

#links a.active::after {
  width: 100%;
}

main {
    background-color: var(--ourwhite);
    border: 3px solid g;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid rgb(128, 128, 128);
    margin-top: auto;
    background-color: var(--classicgray);
}

#playlist-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}

.playlist-card-container img {
    width: 200px;
    height: auto;
}

.playlist-card-container:hover {
    background-color: var(--darkgray);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.playlist-card-container {
    border: 2px solid rgb(128, 128, 128);
    min-width: 200px;
    max-width: 200px;
    position: relative;
}

.playlist-card-information {
    padding: 0px 0px 5px 10px;
}

.playlist-card-heart-icon:hover {
    color: red;
}

.modal-overlay {
    background-color: rgba(0,0,0,0.6);
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    height: 60vh;
    background-color: var(--darkgray);
    color: white;
    padding: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin: 10% auto;
    animation-name: appear;
    animation-duration: 0.3s;
    cursor: default;
}

.modal-header {
    display: flex;
}

.modal-header img {
    width: 150px;
}

.modal-header-title {
    margin-left: 50px;
}

.modal-header-title h2 {
    font-size: 2rem;
}

.modal-header-title h3 {
    font-size: 1.2rem;
}

.modal-songs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    overflow: scroll;
}

.modal-song {
    display: flex;
    gap: 30px;
    margin: 0px;
    align-items: center;
    border: 2px solid rgb(215, 231, 246);
    border-radius: 10px;
    padding: 10px;
}

.modal-song:hover {
    cursor: pointer;
    background-color: white;
    color: var(--darkgray);
}

.modal-song-content {
    width: 100%;
}

.modal-song p {
    margin: 0;
}

.modal-song h4 {
    margin: 0;
}

.modal-song img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    flex-grow: 0;
}

.album-runtime {
    text-align: end;
    width: 100%;
}

.hidden {
    display: none;
}

.liked {
    color: red;
}

#shuffle-btn {
    font-family: 'Roboto Mono', monospace;
    background-color: white;
    width: 10rem;
    height: 3rem;
    border: none;
    align-self: flex-end;
    margin-left: auto;
}

#shuffle-btn:hover {
    background-color: var(--darkgray);
    color: white;
    border: 3px solid white;
    cursor: pointer;
}

/* feature */

#feature-playlist-header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    padding: 55px;
    background-color: var(--ourwhite);
    width: 100vw;
}

#feature-playlist-header img{
    width: 35vh;
}

#feature-playlist-title {
    align-self: flex-end;
    min-width: 40vw;
}

#feature-playlist-title h1 {
    font-size: 5rem;
    margin: 10px 0px;
}

#feature-playlist-title h2 {
    font-size: 2.5rem;
    margin: 0;
}

#feature-songs-container {
    width: 75vw;
}

#feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-song {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0px;
    gap: 50px;
    max-width: 100vw;
    padding: 30px;
}

.feature-song img {
    width: 10vh;
    height: 10vh;
}

.feature-song-runtime {
    width: 100%;
    text-align: right;
    align-self: center;
}

.feature-song-title {
    align-self: center;
    min-width: 20vw;
}

.feature-song-title h3 {
    margin: 0;
}

.feature-song-title p {
    margin: 0;
}

#add-playlist-form {
    border: 3px solid red;
    width: 40vw;
    height: 50vh;
    background-color: #fff;
}

/* h3 #add-btn {
    position: fixed;
    bottom: 0;
    right: 0;
} */

/* delete button */
#delete-btn {
    display: none;
    position: absolute;
    top: -15px;
    right: -15px;
    margin: 0;
    padding: 4px;
    background-color: rgb(230, 43, 43);
    color: white;
    z-index: 10;
    border-radius: 100%;
}

#delete-btn-content {
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
}

.playlist-card-container:hover > #delete-btn {
    display: block;
}